html {
    font-size: 62.5%;
    box-sizing: border-box;
}

body, 
#root {
    height: 100vh;
    margin: 0;
}

body, 
input, 
select, 
textarea {
    font: 1.6rem; /*16px*/
    font-family: Helvetica, Arial, sans-serif;
}

.grid-container {
    display: grid;
    grid-template-areas: 
        "header"
        "main"
        "footer";
    grid-template-rows: 5rem 1fr 5rem; /* 5 rem for header & footer */
    grid-template-columns: 1fr;
    height: 100%;
}

a {
    text-decoration: none;
}

a:hover { /*hovering over links*/
    color: #ff8000;
}

header {
    grid-area: header;
    background-color: #2AB7CA;
    color: #ffffff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem;
}

header a {
    color: #ffffff; /** link color */
    text-decoration: none;
}

main {
    grid-area: main;
    background-color: #F4F4F8;
}

footer {
    grid-area: footer;
    background-color: #2AB7CA;
    color: #ffffff;
    display: flex; /*expands items to fill available free space*/
    justify-content: center; /*horizontally*/
    align-items: center; /*vertically*/
}

.content {
    display: flex;
    flex-wrap: wrap;
}

.main {
    flex: 3 60rem;
}

.sidebar {
    flex: 1 20 rem;
}